#main {
  height: calc(100vh - 3rem);
  background: url(../../assets/bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14rem;
  border-radius: 0 0 50px 50px;
}

.main-text-container {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.cursor-container {
  display: inline;
}

@media (max-width: 900px) {
  .main-text-container {
    font-size: 1.25rem;
  }

  .cursor-container {
    display: block;
  }
}

@media (max-width: 600px) {
  .main-text-container {
    font-size: 1rem;
  }
}
