.footer-bg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #003826;
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer p {
  margin-top: 3rem;
}

.footer h3 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footer {
    display: block;
  }

  .footer img {
    margin-bottom: 3rem;
  }
}
